
    <i class="fas fa-envelope"></i>
    <span class="email"></span>
    <br>
    <i class="fas fa-phone-square-alt"></i>
    <span class="phone"></span>
    <br>
    <i class="fas fa-map-marker-alt"></i>
    <span class="address"></span>
    <br>
    <i class="fas fa-link"></i>
    <a>LinkedIn</a>
    <br>
    <p></p>
    <h5>Languages</h5>
    <p class="languages"></p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>