<div class="content">
    

    <!-- START EDUCATION -->

    <!-- END EDUCATION -->

    <!-- START CERTIFICATES -->


    <!-- END CERTIFICATES -->

    <!-- START COURSES -->
    <h5>Courses</h5>
    <br>
    <p class="font-weight-bold">IT Courses</p>
    <ul>
        <li>Google IT Support Professional Course - Coursera (Ongoing)</li>
        <li>Google IT Support Professional Certificate - System Administration and IT Infrastructure Services - Coursera (Ongoing)</li>
        <li>Google IT Support Professional Certificate - Operating Systems & You: Becoming a Power User - Coursera (September 2020)</li>
        <li>Google Bits & Bytes of Computer Networking - Coursera (September 2020)</li>
        <li>Google IT Support Fundamentals - Coursera (September 2020)</li>
        <li>ITIL 4 Foundation Course - Online (June 2020)</li>
        <li>CompTIA A+ 901 (February 2019)</li>
    </ul>

    <p class="font-weight-bold">Miscellaneous Courses</p>
    <ul>
        <li>Leadership Secrets (Federated Co-Operatives Ltd - FCL) Certificate (April 2018)</li>
        <li>Creative Problem Solving (FCL) Certificate (April 2018)</li>
        <li>Manager: More Than a Title (Federated Co-Operatives Ltd) Certificate (January 2018)</li>
        <li>Understanding Margin (FCL) Certificate (July 2017)</li>
        <li>Working, Communicating Effectively (FCL) Certificate (March 2017)</li>
        <li>Successful Supervision (FCL) Certificate (March 2017)</li>
        <li>Financial Statements (FCL) Certificate (October 2016)</li>
        <li>Guest Service (FCL) Certificate (October 2015)</li>
    </ul>

    <!-- END COURSES -->

    <!-- START SKILLS -->
  

    <!-- END SKILLS -->

    <!-- START WEB DEVELOPMENT-->

    <!-- END WEB DEVELOPMENT -->

    <!-- START ATTRIBUTES -->
    <h5>Attributes</h5>
    <br>
    <p class="font-weight-bold">Analytical</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="80"></div>
        </div>
    <p>Troubleshoot various software and hardware issues</p>

    <p class="font-weight-bold">Communication</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    <p>Effective verbal and written communication with teams, dealers, end users and other parties</p>

    <p class="font-weight-bold">Adaptability</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>Able to quickly learn and adapt to changes in processes and staffing</p>

    <p class="font-weight-bold">Leadership</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="75"></div>
        </div>
    <p>Take charge of weekly and monthly deadlines such as reports and ticket resolutions</p>

    <p class="font-weight-bold">Teamwork</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    <p>Work harmoniously and effectively in any team</p>

    <!-- END ATTRIBUTES -->

    <!-- START REFERENCES -->
    <h5>Refrences</h5>
    <p>References available upon request</p>

    <!-- END REFERENCES -->
</div>
</div>
